<script>
  $(document).ready(function(){
    ActivateTab('');
  });
</script>



<% provide(:title, 'Kontakt') %>
<div class="jumbotron content">
  <h2>Kontakt</h2>
  <div class="caption-delimiter"></div>
  <p>
    Martin Paríža<br/>
    <%= mail_to "hkslovantrstena@gmail.com" %> • <%= link_to image_tag("/assets/facebook.png"), "https://www.facebook.com/groups/136967193006267/", target: "_blank" %>
  </p>
</div>
