<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <!-- <div id="mail-header">
      <h1>HK Slovan Trstená</h1>
    </div> -->
    <h2><%= @first_line %></h2>
    <p>
      <strong><%= @match.full_caption %></strong>
    </p>
  </body>
</html>


