<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Nový zápas v hrajhokej.sk</h1>
    <p>HTML email template, notify new match.</p>
  </body>
</html>
