<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <!-- <div id="mail-header">
      <h1>HK Slovan Trstená</h1>
    </div> -->
    <h2>Zrušenie profilu v HK Slovan Trstená</h2>
    <p>
      email: <%= @email %><br/>
      meno: <%= @name %><br/>
    </p>
  </body>
</html>
