<p>
  <%= f.label :password, "Heslo" %>
  <%= f.password_field :password, placeholder: password_hint, title: tooltip_text %>
</p>
<p>
  <%= f.label :password_confirmation, "Potvrdenie hesla" %>
  <%= f.password_field :password_confirmation %>
</p>
