
@import 'bootstrap';


$iceBlue: #a9a9ec;
$deeperIce: rgb(121, 143, 212);
$contentCaption: #555555;
$contentBorder: rgb(169, 169, 236);
$contentBackground: rgb(255, 255, 255);
$contentBackgroundTransparent: rgba(255, 255, 255, 0.8);

html {
  background: url("/assets/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body {
  background-color: inherit;
}


.container {
  width: 960px;
}


.navigation-area {
  background-color: white;
  padding-top: 15px;
}

.nav, .nav-tabs > .active > a {
  background-color: white;
}

.nav {
  margin-bottom: 5px;
}


.content {
  border: 1px solid $contentBorder;
  background-color: $contentBackgroundTransparent;
  margin: 20px 0;
  padding: 40px;
  
  border-radius: 10px;


  h1, h2, h4 {
    text-align: center;
  }

  h1 {
    font-size: 48.5px;
    margin-top: 80px;
  }

  h2 {
    margin-bottom: 20px;
  }

  p {
    text-align: center;
  }


  input[type="radio"] {
    margin: 0 0 0 12px;
  }

  .radio-label {
    display: inline-block;
  }


  .caption-delimiter {
    width: 60%;
    border-bottom: 1px solid $iceBlue;
    margin: 0 auto 10px auto;
  }

  ul.wide li p {
    margin: 22px;
  }

  ul.narrow {
    margin-top: 22px;

    li p {
      margin: 0;
    }
  }

  
  #closest-events {
    margin: 80px auto 0 auto;
    width: 70%;
    padding: 10px;
    border-top: 1px solid $iceBlue;
    border-bottom: 1px solid $iceBlue;
    font-weight: 500;
    font-size: 16px;


    .closest-event-caption {
      text-align: left;
      margin-top: 38px;
      font-weight: inherit;
      font-size: inherit;
    }

    .grey {
      color: grey;
      font-style: italic;
      font-weight: inherit;
      font-size: inherit;
    }


    .closest-match {
      padding-left: 25px;
      font-weight: 700;
      text-align: left;
      font-size: 22px;
    }
  } /* #closest-events */




  .passed-match-item a {
    color: grey;
  }

  h4 {
    font-style: italic;
    color: $deeperIce;
    margin-top: 10px;
  }

  .sign-up-button {
    display: table;
    margin: 60px auto 10px auto;
  }

  .line-label {
    font-style: italic;
    color: $deeperIce;
  }


  ol {
    margin: 10px auto;


    li {
      list-style-type: decimal;
      list-style-position:inside;
      text-align: center;
    }
  }


  & .date-select select {
    width: 100px;
  }

  & #show-change-password {
    margin-bottom: 20px;
  }
  
  & #change-password {
    display: none;
  }



  &.detail {

    ol {
      margin-bottom: 25px;
    }

    h4 {
      margin-top: 40px;
    }


    .note {
      margin-top: 12px;
    }
    
    .detail-info::after {
      content: "";
      display: table;
      clear: both;
    }

    .un-subscribe {
      float: right;
    }

    & #unsubscribed-players {
      display: none;
      width: 60%;
      margin: 20px auto;
      padding: 18px;

      & p {
        text-align: left;
      }
    }

  } /* .detail (end) */


  .user-status {
    padding: 0 4px;
    text-align: center;
    display: inline-block;
  }

  .new {
    background-color: yellow;
  }

  .disabled {
    background-color: grey;
  }

  & .email-options {
    width: 60%;
    margin: 0 auto;
    & p {
      text-align: left;
    }
  }
} /* .content (end) */



.detail-content {
  border-bottom: none;

  h4 {
    margin-top: 40px;

  }

  p.center {
    text-align: center;
  }

  .line-label {
    font-style: italic;
    color: $deeperIce;
  }

  .note {
    margin-top: 12px;
  }
  
  .detail-info::after {
    content: "";
    display: table;
    clear: both;
  }

  .un-subscribe {
    float: right;
  }


  .item-list {

    margin: 10px auto;


    li {
      list-style-type: decimal;
      list-style-position:inside;
      text-align: center;
    }
  }
}


.back-link {
  margin-top: 12px;
}

.center-button {
  margin: 4px auto;
  display: table;
}

h2 {
  text-align: center;
  color: $contentCaption;
}



.footer {
  border-top: 1px solid $iceBlue;

  & .footer-menu {
    float: right;

    li {
      display: inline;
      padding: 0 8px;
    }
  }

  & small {
    float: left;
  }
  
  & #center-info {
    content: "";
    display: table;
    clear: both;
    margin: 0 auto;

    & p {
      color: darkblue;
      text-align: center;
      font-size: 11px;
      border-top: 1px solid white;

      & a {
        background-color: white;
        padding: 1px 7px;
      }
    }
  }
}


.red-sign {
  color: red;
  font-style: italic;
}


.full {
  background-color: red;
}

.match-icon {
  height: 16px;
  width: 16px;
}


/* For later use - image for email templates */
/*#mail-header {
  background-image: url("/assets/email-background.jpg");
  padding: 12px;
}*/


/* Display settings for resolutions >=960px */
@media screen and (min-width: 960px) {
}