<footer class="footer">
  <small>
    <a href="#">hrajhokej</a> s Martinom
  </small>
  <nav class="footer-menu">
    <ul>
      <li><%= link_to "O mne",   "#" %></li>
      <li><%= link_to "Kontakt", "#" %></li>
    </ul>
  </nav>
</footer>