<footer class="footer">
  <small>
    <%= link_to "HK Slovan Trstená", root_url %> na hokeji
  </small>
  <nav class="footer-menu">
    <ul>
      <li><%= link_to "O mne",   "#" %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
    </ul>
  </nav>
  <div id="center-info">
    <p>Stránku vytvoril • <%= mail_to "tomas.radic@gmail.com" %> • Tomáš Radič • +421 905 289 248</p>
  </div>
</footer>